################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/confluence_pages
/.dependencies/qdrant_storage/collections/wiki_pages
/src/__pycache__
/__pycache__
